@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
}

.glass-card::before,
.glass-card::after {
  content: '';
  position: absolute;
  pointer-events: none;
  z-index: 2;
}


.glass-card::before {
  top: 0;
  right: 2.5rem;
  width: calc(100% - 4rem);
  height: 1.9px;
  background: linear-gradient(to left, rgba(255, 255, 255, 2), rgba(255, 255, 255, 0));
}


.glass-card::after {
  top: 2.5rem;
  right: 0;
  width: 2px;
  height: calc(100% - 4rem);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
}


.corner-curve {
  position: absolute;
  top: 0.5;
  right: 0;
  width: 2rem;
  height: 2rem;
  border-top: 2.4px solid white;
  border-right: 2.4px solid white;
  border-top-right-radius: 4rem;
  pointer-events: none;
  z-index: 2;
}

.top-left-shine {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 80px;
  border-top-left-radius: 40px;
  background: radial-gradient(
    circle at top left,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0) 70%
  );
  z-index: 2;
  pointer-events: none;
}

@keyframes shimmer {
  0%, 100% { opacity: 0.5; }
  50% { opacity: 1; }
}

.glass-card::before,
.glass-card::after,
.corner-curve {
  animation: shimmer 6s ease-in-out infinite;
}
